name: Run tests

on:
  workflow_call:
    inputs:
      toolchain:
        required: true
        type: string
      unstable-features:
        required: false
        default: false
        type: boolean

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    continue-on-error: ${{ inputs.toolchain != 'stable' }}
    env:
      ENABLED_FEATURES: ${{ inputs.unstable-features && 'nightly-std-conversions' || '' }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ inputs.toolchain }}
          components: ${{ inputs.toolchain == 'nightly' && 'miri' || '' }}
          cache: ${{ inputs.toolchain != 'nightly' }}
      - run: ./ci/test.sh --features "$ENABLED_FEATURES"
      - run: cargo miri test --features "$ENABLED_FEATURES"
        if: ${{ inputs.toolchain == 'nightly' }}
